<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904944686567-hk8k1n41pe0gb2lk5ab70hhaa4rm0f41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904944686567-hk8k1n41pe0gb2lk5ab70hhaa4rm0f41</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>904944686567-5niviacdbi3ikj2aj4vj0q0qiosk4rhj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBb5DXaHwj1UYjM8lmpjFC-E1vC0JYeUhc</string>
	<key>GCM_SENDER_ID</key>
	<string>904944686567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.neuroCalculator</string>
	<key>PROJECT_ID</key>
	<string>neurologicascalculator</string>
	<key>STORAGE_BUCKET</key>
	<string>neurologicascalculator.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904944686567:ios:dbd3e55419c7d4feeb5942</string>
</dict>
</plist>